.container-fluid{
    padding:0px;
}
.img-container{
	background-image: url(../images/carrier.png);
    min-height: 600px;
    min-width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 1s ease;
    animation-direction: normal;
    background-size: cover;
    opacity: 0.8;
    z-index:-2;
}
.carrier-img{
	background-image: url(../images/carrier.png);
    min-height: 600px;
    min-width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 1s ease;
    animation-direction: normal;
    background-size: cover;
    opacity: 0.8;
    z-index:-2;
}
.brand-logo{
	height:55px;
}
.nav-item{
	text-align: center;
    min-width: 150px;
}

.anchor{
  display: none;
  height: 90px; 
  margin-top: 90px;
  visibility: hidden;
}

.transparent-navbar{
	position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
	background-color: transparent!important;
	-webkit-animation-duration: 2s;
    -moz-animation-delay: 1s;
}
.fixed-navbar{
	position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
	background-color: #fff!important;
	-webkit-animation-duration: 2s;
    -moz-animation-delay: 1s;
}
.fixed-navbar a.nav-link{
	color:#000!important;
	font-size:18px;
}

.transparent-navbar a.nav-link{
	color:#fff!important;
	font-size:18px;
}    
a.nav-link:hover {
    background-color: rgba(128, 128, 128, 0.42);
}
.home-content{
	padding: 25px;
}
.services-content{
	padding: 25px;
	background:#dcdcdc;
}
.services-content >.row,.contact-us-content>.row{
	padding:15px 0px;
	margin:0px;
}
.service-heading{
	font-size: 32px;
    font-weight: 600;
    color:#31aab9;
}
.card-wraper{
	margin:10px 0px;
}
.card-title{
	text-align: center!important;
}
.card-text{
	text-align: justify;
    -moz-text-align-last: left; /* Code for Firefox */
    text-align-last: left;
}
.service-logo{
	font-size:45px;
	color:rgba(0, 188, 212, 0.64);
}
.career-content{
	padding:25px;
}
.career-heading{
	color: #037988;
    font-size: 30px;
}
.career-msg{
	background-color: rgba(255, 255, 255, 0.66);
    border-radius: 5px;
    padding: 20px;
    font-weight: 500;
    word-spacing: 0.2rem;
}
.margin-20{
	margin:20px;
}
.modal-dialog{
	min-width:50%;
}
#emailHelp{
    font-size:0.8rem;
}
.form-control-feedback-success, .form-control-feedback-warning{
    display:none;
}
/* form validation*/
.has-success .form-control-input{
    border:1px solid green;
}
.has-success .form-control-feedback-success{
    color:green;
    font-family: inherit;
    display:block;
}
.has-success label{
    color:green;
}
.has-warning .form-control-input{
    border:1px solid #f0ad4e;
}
.has-warning .form-control-feedback-warning{
    color:#f0ad4e;
    font-family: inherit;
    display:block;
}
.has-warning label{
    color:#f0ad4e;
}
.contact-us-content{
	padding: 25px;
	background-color: #fff;

}
label{
	font-weight:500;
}
.footer-content{
	height: 90px;
    background: #000;
    color: #fff;
    margin:0px;
}
.footer-content>div{
	text-align: center;
}
.contact-us-border{
	border-right:2px solid #037988;
}

#countdown{
    font-family: "Ubuntu Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    position:relative;
    top:180px;
    color:#0891a2;
    font-weight:700;

}

.conter-span-no >div{
	min-width: 85px;
    padding: 7px 10px;
    font-size: 30px;

}
.conter-span-days{
	margin:10px 0px;
}

.conter-span-days >div{
	min-width: 80px;
    padding: 3px 10px;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.48);
    margin: 0px 5px;

}